<div class="container mt-5">
  <div class="row justify-content-center">
    <div class="col-md-8">
      <div class="card">
        <div class="card-header">
          <h2><i class="fas fa-video"></i> ご遺言動画編集</h2>
        </div>
        <div class="card-body">
          <h4>既存の動画</h4>
          <div class="form-group">
            <%= video_tag url_for(@will_video.video), controls: true, style: "max-width: 100%;" %>
            <div class="mt-3">
              <%= button_to user_will_video_path(@user, @will_video), method: "delete", form: { data: { turbo_confirm: "本当に削除しますか？" } }, class: "btn btn-danger w-100" do %>
                <i class="fas fa-trash"></i><span> 動画を削除</span>
              <% end %>
            </div>
            <%= link_to user_will_video_path(@user, @will_video), class: "btn btn btn-secondary w-100 mt-3", data: { turbo: false } do %>
              <i class="fas fa-arrow-left"></i><span> 前の画面に戻る</span>
            <% end %>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>