<div class="container mt-5">
  <div class="row justify-content-center">
    <div class="col-md-8">
      <div class="card">
        <div class="card-header">
          <h2>遺言動画編集</h2>
        </div>
        <div class="card-body">
          <h4>既存の動画</h4>
          <div class="form-group">
            <%= video_tag url_for(@will_video.video), controls: true, style: "max-width: 100%;" %>
            <div class="mt-3">
              <%= button_to '削除', user_will_video_path(@user, @will_video), method: "delete", form: { data: { turbo_confirm: "削除しますか？" } }, class: "btn btn-danger w-100" %>
            </div>
            <%= link_to "前の画面に戻る", "/", class: "btn btn-secondary w-100 mt-3" %>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>