<section>
  <div class="title py-5 border-bottom mb-4 ">
    <div class="container">
      <div class="title_name text-center my-5">
        <h1 class="fw-bolder">ようこそエンディングノートへ</h1>
        <p class="lead mb-0">シンプルな操作で葬儀選びを後世に伝える</p>
      </div>
    </div>
  </div>  
  <main class="container">
    <div class="row">
      <div class="col-md-4 mb-5">
        <%= link_to '/', class: 'text-decoration-none' do %>
          <div class="card h-100">
            <div class="card-body">
              <h2 class="card-title">ご葬儀プラン</h2>
              <p class="card-text">ご希望の葬儀の想いを残す、お望みのご葬儀プランをシンプル操作で選べます。</p>
              <span class="btn btn-primary">詳細</span>
            </div>
          </div>
        <% end %>
      </div>
      <div class="col-md-4 mb-5">
        <%= link_to '/', class: 'text-decoration-none' do %>
          <div class="card h-100">
            <div class="card-body">
              <h2 class="card-title">加入中保険</h2>
              <p class="card-text">今亡くなったら、10年後に亡くなったらいくら残せるかがわかります。</p>
              <span class="btn btn-primary">詳細</span>
            </div>
          </div>
        <% end %>
      </div>
      <div class="col-md-4 mb-5">
        <%= link_to '/', class: 'text-decoration-none' do %>
          <div class="card h-100">
            <div class="card-body">
              <h2 class="card-title">葬儀場MAP</h2>
              <p class="card-text">ご希望に合わせてお住まいの近くの葬儀屋さんを探せます。</p>
              <span class="btn btn-primary">詳細</span>
            </div>
          </div>
        <% end %>
      </div>
    </div>
  </main>
</section>
