<div class="container mt-5">
  <div class="row justify-content-center">
    <div class="col-md-8">
      <div class="card">
        <div class="card-header">
          <h2><i class="far fa-envelope"></i> 送信完了</h2>
        </div>
        <div class="card-body">
          <p class="thank-you-message">ありがとうございます。</br>お問い合わせ内容を送信しました<i class="far fa-laugh-beam fa-beat"></i></p>
          <%= link_to  "/", class: "btn btn-secondary w-100 mt-3", role: 'button' do %>
            <i class="fas fa-home"></i><span> トップページへ</span>
          <% end %>
        </div>
      </div>
    </div>
  </div>
</div>
