.password-container .form-control {
  background-color: #f8f9fa;
  border-right: none;
  border-radius: 0.25rem 0 0 0.25rem;
}

.password-field-container {
  width: 80%;
}

.password-container .input-group-append .btn {
  background-color: #f8f9fa;
  border-left: none;
  border-top: 1px solid #ced4da;
  border-bottom: 1px solid #ced4da;
  border-right: 1px solid #ced4da;
  border-radius: 0 0.25rem 0.25rem 0;
  padding: 0;
}

.password-container .input-group-append .btn i {
  color: #6c757d;
  padding: 10px;
}

.field_with_errors {
  display: contents;
}

.field_with_errors .form-control {
  border-color: #dc3545;
  background-color: #f8d7da;
}
