<p>こんにちは、<%= @resource.email %>さん！</p>
<p>エンディングノート管理人の宮永です<p>

<p>パスワードを変更するためのリンクをリクエスト受け付けました<p>
<p>以下のリンクからパスワードを変更することができます。</p>

<p><%= link_to 'パスワードを変更する', edit_password_url(@resource, reset_password_token: @token) %></p>
<p>このリクエストに覚えがない場合は、このメールを無視してください。</p>
<p>上記のリンクにアクセスして新しいパスワードを作成するまで、あなたのパスワードは変更されません。</p>
